[mysqld]
# 文字コード
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# タイムゾーン
default-time-zone = '+09:00'

# SQLモードを少し緩める（開発向け）
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# IPv6アドレスで待ち受け
bind-address = ::